<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simulation page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" media="screen" href="materiald/material.min.css" />
    <script src="materiald/material.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/simpleLightbox.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="js/simpleLightbox.min.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="dialog-polyfill/dialog-polyfill.css" />
    <script src="dialog-polyfill/dialog-polyfill.js"></script>

</head>
<body ondragstart="return false;" ondrop="return false;">

    <div id="3d-container"></div>

    <div class="hud">

        <!-- Menu -->
        <nav style="background:#FFFFFF;">

            <button id="menu-below-grade" class="mdl-button mdl-js-button ">
                Below Grade Package
            </button>
            <button id="menu-3d4d-construction" class="mdl-button mdl-js-button ">
                3D, 4D construction Aid
            </button>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                for="menu-below-grade">
                <label>Electrical</label>
                <li class="mdl-menu__item" onclick="window.tdid_openPDF('files/below_grade/electrical/design/E1201.pdf');">Design Drawings</li>
                <li class="mdl-menu__item" onclick="window.tdid_openPDF('files/below_grade/electrical/void/E1202.pdf');">Void drawings</li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" onclick="window.tdid_openPDF('files/below_grade/electrical/demo/E1201DEMO.pdf');">DEMO Drawings</li>
                <label>Civil</label>
                <li class="mdl-menu__item" onclick="window.tdid_openPDF('files/below_grade/civil/design/E1003.pdf');">Design Drawings</li>
                <li class="mdl-menu__item" onclick="window.tdid_openPDF('files/below_grade/civil/void/E9070VOID.pdf');">Void drawings</li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider" onclick="window.tdid_openPDF('files/below_grade/civil/demo/E1150DEMO.pdf');">DEMO Drawings</li>
            </ul>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                for="menu-3d4d-construction">
                <li class="mdl-menu__item" onclick="window.tdid_openExternal('https://www.dropbox.com/s/4u1e7g0i7h6lj6p/345-138-69-12KV.nwd?dl=0');">Navis 3D</li>
                <li class="mdl-menu__item" onclick="window.tdid_openExternal('https://www.dropbox.com/s/8eambs9fi78cq9i/4D.nwd?dl=0');">Navis 4D</li>
                <li class="mdl-menu__item" onclick="window.tdid_openExternal('files/3d4d_construction_aid/animations/AEP_SM2_001.mp4');">Safety Animations</li>
                <li class="mdl-menu__item" onclick="window.tdid_openExternal('files/3d4d_construction_aid/3d_outage_schedule/SS_Outage.pptx');">3D Outage Schedule</li>
            </ul>
        </nav>

        <!-- End of menu items -->

        <div class="overlay ui-background">
            <a href="/help" target="_blank">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">help</i>
                </button>
            </a>

            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                for="demo-menu-lower-left">
                <li class="mdl-menu__item">Some Action</li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Another Action</li>
                <li disabled class="mdl-menu__item">Disabled Action</li>
                <li class="mdl-menu__item">Yet Another Action</li>
            </ul>

            <label>Hello <strong>{{username}}</strong>,</label>
            <label>You are {{role}}.</label>
            {{#isEngineer}}
            <span>
                <span class="mdl-list__item-secondary-action" style="display:inline-block; margin-right: 10px;">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="dangerous-switch">
                        <input type="checkbox" id="dangerous-switch" class="mdl-switch__input" />
                    </label>
                </span>
                <span style="display:inline-block">Dangerous</span>
            </span>
            {{/isEngineer}}
        </div>

        <div id="selected-popup" class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
                <h3>Selected elements</h3>
            </div>
            <div class="mdl-card__supporting-text">Element1, Element2</div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="javascript:closeSelectedPopup();" class="mdl-button mdl-js-button mdl-js-ripple-effect" data-upgraded=",MaterialButton,MaterialRipple">Close<span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span></a>
            </div>
        </div>

        <div id="mobile-navigation">
            <div class="mobile-navigation-updown">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">arrow_upward</i>
                </button>
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                    <i class="material-icons">arrow_downward</i>
                </button>
            </div>
            <div class="mobile-navigation-wasd">
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </button>
                </div>
                <div>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">keyboard_arrow_left</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </button>
                </div>
            </div>
        </div>
        <div id="navigation-info" class="ui-background">
            navigation: WASD-RF keys, rotation: mouse drag.
        </div>

        {{#isFinance}}
        <div id="timeline-slider" style="text-align:center; margin-top: 5px; position: fixed; width: 100%;">
            <div class="ui-background" style="display: inline-block">
                <label style="display:block;">Timeline</label>
                <div style="width:300px; display:inline-block;">
                    <input class="mdl-slider mdl-js-slider" type="range" min="0" max="4" value="0" tabindex="0" step="1">
                </div>
                <label style="display:block;" class="timeline-slider-date">22.10.2018.</label>
            </div>
        </div>
        {{/isFinance}}
    </div>

    <dialog id="dialog-main" class="mdl-dialog" style="width:95%; height:95%">
        <div class="mdl-dialog__actions">
            <!-- <button type="button" class="mdl-button">Agree</button> -->
            <button type="button" class="mdl-button close">Close</button>
            <button id="dialog-btn-share" class="mdl-button mdl-js-button mdl-button--icon shareable">
                <i class="material-icons">share</i>
            </button>
            <div class="mdl-tooltip" data-mdl-for="dialog-btn-share">Share this document</div>
        </div>
        <div class="mdl-dialog__content">
            <div class="pdf-dialog"></div>
        </div>
    </dialog>

    <dialog id="dialog-progress" class="mdl-dialog">
        <div id="progress-bar" class="mdl-progress mdl-js-progress"></div>
    </dialog>


    <script>
        window.usr = '{{{data}}}';
    </script>

    <script src="js/index.js"></script>

</body>
</html>