<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" media="screen" href="materiald/material.min.css" />
    <script src="materiald/material.min.js"></script>
</head>
<body>

    <div class="mdl-grid" style="max-width: 400px;">
        <h1>Login form</h1>
        <h3 style="color:red;">{{error}}</h3>
        <form action="/" method="POST">
            <div class="mdl-grid">
                <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                    <input class="mdl-textfield__input" type="text" id="username" name="username">
                    <label class="mdl-textfield__label" for="username">username</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-cell--12-col">
                    <input class="mdl-textfield__input" type="password" id="pass" name="pass">
                    <label class="mdl-textfield__label" for="pass">password</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Login
                </button>
            </div>
        </form>
    </div>

    <div class="mdl-grid" style="max-width: 400px;">
        <h2>Available users</h2>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th>username</th>
                <th>password</th>
                <th>role</th>
              </tr>
            </thead>
            <tbody>
                {{#users}}
                    <tr>
                        <td>{{username}}</td>
                        <td>{{password}}</td>
                        <td>{{role}}</td>
                    </tr>
                {{/users}}
            </tbody>
          </table>
    </div>

</body>
</html>