html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
[id="3d-container"] > canvas {
  width: 100%;
  height: 100%;
  background-color: #87CEFA;
  position: absolute;
  top: 0px;
}
.overlay {
  position: absolute;
  padding: 5px;
  right: 0px;
  text-align: right;
  display:inline-block;
}
.overlay > * {
    display: block;
}
.ui-element {
    display: none;
}
.ui-background {
    background-color: rgba(255, 255, 255, 0.6);
}
.pdf-dialog {
    width: 100%;
    height: 100%;
    min-height: 100%;
}
.hud {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.hud * {
    pointer-events: all;
}
iframe {
  border: 0;
}
nav {
  background-color: #FFFFFF;
}
#selected-popup {
  position: absolute;
  left:0px;
  top: 0px;
  max-width: 350px;
}
#mobile-navigation {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
#navigation-info {
    display: inline-block;
    bottom: 0px;
    right: 0px;
    padding: 0 8px;
    font-size: 0.7em;
    position: absolute;
}
#mobile-navigation div:first-child {
  text-align: center;
  padding: 5px;
}
#mobile-navigation .mobile-navigation-updown {
  display: inline-block;
}
#mobile-navigation .mobile-navigation-updown > button {
  display: block;
  margin: 5px;
}
#mobile-navigation .mobile-navigation-wasd {
  display: inline-block;
}
.image-previewer {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}
.image-previewer > canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}